flows_DESKTOP-IU4I4K9.json
[{"id":"2dbed26e.b06b9e","type":"tab","label":"UI","disabled":false,"info":""},{"id":"40e12db2.90c0f4","type":"tab","label":"MQTT Broker","disabled":false,"info":""},{"id":"b875f491.2f05f8","type":"tab","label":"MongoDB connection","disabled":false,"info":""},{"id":"64bdb6e4.e407f8","type":"tab","label":"Line Notify","disabled":false,"info":""},{"id":"6a927010.30e06","type":"mqtt-broker","z":"","name":"Local Host Mqtt","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f2f849b1.230a08","type":"ui_group","z":"","name":"ENVIRONMENT","tab":"4d344829.d62a08","order":2,"disp":true,"width":12,"collapse":false},{"id":"19c2e904.377677","type":"ui_group","z":"","name":"AIR","tab":"4d344829.d62a08","order":2,"disp":true,"width":"6","collapse":false},{"id":"8019fc7.6e943","type":"ui_group","z":"","name":"FAN","tab":"4d344829.d62a08","order":3,"disp":true,"width":"6","collapse":false},{"id":"4ad224.130d2ddc","type":"ui_group","z":"","name":"PIR","tab":"4d344829.d62a08","order":4,"disp":true,"width":"6","collapse":false},{"id":"a530855b.5268a8","type":"ui_group","z":"","name":"LIGHT","tab":"4d344829.d62a08","order":5,"disp":true,"width":"6","collapse":false},{"id":"fc954eb3.e2016","type":"ui_group","z":"","name":"Color light 1","tab":"4d344829.d62a08","order":6,"disp":true,"width":"6","collapse":false},{"id":"4d344829.d62a08","type":"ui_tab","z":"","name":"R O O M","icon":"dashboard","disabled":false,"hidden":false,"info":"<!--<!doctype html>-->\r\n<!--<html>-->\r\n<!--  <head>-->\r\n    <!-- Place your kit's code here -->\r\n<!--    <script src=\"https://kit.fontawesome.com/e71b471599.js\" crossorigin=\"anonymous\"></script>-->\r\n<!--  </head>-->\r\n\r\n<!--  <body>-->\r\n<!--    <i class=\"fa fa-level-up\" aria-hidden=\"true\"></i>-->\r\n<!--    <i class=\"fa fa-level-down\" aria-hidden=\"true\"></i>-->\r\n<!--  </body>-->\r\n<!--</html>-->"},{"id":"5966569.68dffa8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"bd6355eb.c55698","type":"mqtt-broker","z":"","name":"Local Host Mqtt","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a8edd420.888408","type":"ui_group","z":"","name":"ENVIRONMENT","tab":"e2a41ba8.88cee8","order":2,"disp":true,"width":12,"collapse":false},{"id":"1b001c1e.022e54","type":"ui_group","z":"","name":"AIR","tab":"e2a41ba8.88cee8","order":2,"disp":true,"width":"6","collapse":false},{"id":"d6c84eca.74f5b","type":"ui_group","z":"","name":"FAN","tab":"e2a41ba8.88cee8","order":3,"disp":true,"width":"6","collapse":false},{"id":"e39c745c.c4e438","type":"ui_group","z":"","name":"PIR","tab":"e2a41ba8.88cee8","order":4,"disp":true,"width":"6","collapse":false},{"id":"5e8c30d8.51957","type":"ui_group","z":"","name":"LIGHT","tab":"e2a41ba8.88cee8","order":5,"disp":true,"width":"6","collapse":false},{"id":"681d89aa.b309e8","type":"ui_group","z":"","name":"Color light 1","tab":"e2a41ba8.88cee8","order":6,"disp":true,"width":"6","collapse":false},{"id":"e2a41ba8.88cee8","type":"ui_tab","z":"","name":"R O O M","icon":"dashboard","disabled":false,"hidden":false,"info":"<!--<!doctype html>-->\r\n<!--<html>-->\r\n<!--  <head>-->\r\n    <!-- Place your kit's code here -->\r\n<!--    <script src=\"https://kit.fontawesome.com/e71b471599.js\" crossorigin=\"anonymous\"></script>-->\r\n<!--  </head>-->\r\n\r\n<!--  <body>-->\r\n<!--    <i class=\"fa fa-level-up\" aria-hidden=\"true\"></i>-->\r\n<!--    <i class=\"fa fa-level-down\" aria-hidden=\"true\"></i>-->\r\n<!--  </body>-->\r\n<!--</html>-->"},{"id":"a3656769.4d3e58","type":"mongodb3","z":"","uri":"mongodb+srv://admin-farm:Gt123@cluster0-srznj.mongodb.net/homeDB?retryWrites=true&w=majority","name":"cluster0","options":"{useUrlParser:true}","parallelism":"-1"},{"id":"fc61562b.0503d8","type":"linetoken","z":"","name":"Checker"},{"id":"59a7e7a6.e2b998","type":"mqtt in","z":"2dbed26e.b06b9e","name":"","topic":"M5/env","qos":"2","datatype":"json","broker":"bd6355eb.c55698","x":90,"y":100,"wires":[["2b15f893.597a08","a23c003e.59a64","75a041f9.9e5b9"]]},{"id":"93dff252.24c7a","type":"mqtt in","z":"2dbed26e.b06b9e","name":"","topic":"M5/air","qos":"2","datatype":"json","broker":"bd6355eb.c55698","x":90,"y":340,"wires":[["d5f9aca5.50f21","a863fce2.459f3","a64d25b5.678e28"]]},{"id":"f583d680.01c948","type":"mqtt in","z":"2dbed26e.b06b9e","name":"","topic":"M5/fan","qos":"2","datatype":"json","broker":"bd6355eb.c55698","x":90,"y":540,"wires":[["1562438a.b55cdc","667039f.8ca5bc8","60dfbd85.7aa844"]]},{"id":"97d457e3.78ad58","type":"mqtt in","z":"2dbed26e.b06b9e","name":"","topic":"M5/pir","qos":"2","datatype":"json","broker":"bd6355eb.c55698","x":90,"y":640,"wires":[["5e46b47f.4d828c"]]},{"id":"2b15f893.597a08","type":"function","z":"2dbed26e.b06b9e","name":"TEMP","func":"msg.payload = msg.payload.temp;\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":100,"wires":[["57502b02.40b1f4"]]},{"id":"a23c003e.59a64","type":"function","z":"2dbed26e.b06b9e","name":"HUMI","func":"msg.payload = msg.payload.humi;\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":140,"wires":[["8a07a752.65b1d8"]]},{"id":"75a041f9.9e5b9","type":"function","z":"2dbed26e.b06b9e","name":"Pressure","func":"msg.payload = (msg.payload.pres/100000).toFixed(2);\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":220,"wires":[["d6d3da1.6851b28"]]},{"id":"57502b02.40b1f4","type":"ui_gauge","z":"2dbed26e.b06b9e","name":"","group":"a8edd420.888408","order":1,"width":4,"height":4,"gtype":"donut","title":"อุณหภูมิห้อง","label":"celsius","format":"{{value}}","min":0,"max":"100","colors":["#1ae8ff","#bd00e6","#ff0209"],"seg1":"","seg2":"","x":440,"y":100,"wires":[]},{"id":"8a07a752.65b1d8","type":"ui_gauge","z":"2dbed26e.b06b9e","name":"","group":"a8edd420.888408","order":3,"width":4,"height":4,"gtype":"gage","title":"ความชื้น","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#47696d","#4492a2","#21c4e0"],"seg1":"","seg2":"","x":430,"y":180,"wires":[]},{"id":"d6d3da1.6851b28","type":"ui_gauge","z":"2dbed26e.b06b9e","name":"","group":"a8edd420.888408","order":2,"width":4,"height":4,"gtype":"gage","title":"ความกดอากาศ","label":"bar","format":"{{value}}","min":0,"max":"2","colors":["#9fffab","#0ce600","#008006"],"seg1":"","seg2":"","x":450,"y":260,"wires":[]},{"id":"d5f9aca5.50f21","type":"function","z":"2dbed26e.b06b9e","name":"STATUS","func":"msg.payload = msg.payload.st;\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":340,"wires":[["a2048dbf.9bc1a","fd8c6941.abb738"]]},{"id":"a863fce2.459f3","type":"function","z":"2dbed26e.b06b9e","name":"TEMP","func":"msg.payload = msg.payload.temp;\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":400,"wires":[[]]},{"id":"a2048dbf.9bc1a","type":"ui_switch","z":"2dbed26e.b06b9e","name":"","label":"Switch","tooltip":"","group":"1b001c1e.022e54","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-bullseye","oncolor":"#52FF33","offvalue":"0","offvalueType":"num","officon":"fa-bullseye","offcolor":"#FF3333","x":470,"y":340,"wires":[["dc4ca2e7.2b10c"]]},{"id":"dcbd610.4b78ba","type":"mqtt out","z":"2dbed26e.b06b9e","name":"control AIR","topic":"Node/air","qos":"","retain":"","broker":"bd6355eb.c55698","x":810,"y":340,"wires":[]},{"id":"dc4ca2e7.2b10c","type":"function","z":"2dbed26e.b06b9e","name":"check","func":"if(msg.payload !== 1){\n    msg.payload = {st: \"0\"};\n}else{\n    msg.payload = {st: \"1\"};\n}\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":340,"wires":[["dcbd610.4b78ba"]]},{"id":"1562438a.b55cdc","type":"function","z":"2dbed26e.b06b9e","name":"STATUS","func":"msg.payload = msg.payload.st;\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":500,"wires":[["f9f1116.ea944f"]]},{"id":"667039f.8ca5bc8","type":"function","z":"2dbed26e.b06b9e","name":"LEVEL","func":"msg.payload = msg.payload.lv;\nif(msg.payload === \"1\"){\n    msg.payload = 1;\n}else if(msg.payload === \"2\"){\n    msg.payload = 2;\n}\nelse if(msg.payload === \"3\"){\n    msg.payload = 3;\n}\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":540,"wires":[["58381194.c407e"]]},{"id":"f9f1116.ea944f","type":"ui_switch","z":"2dbed26e.b06b9e","name":"","label":"Switch","tooltip":"","group":"d6c84eca.74f5b","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"/stN","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-bullseye","oncolor":"#52FF33","offvalue":"0","offvalueType":"num","officon":"fa-bullseye","offcolor":"#FF3333","x":430,"y":500,"wires":[["440c7e28.129e4"]]},{"id":"58381194.c407e","type":"ui_dropdown","z":"2dbed26e.b06b9e","name":"","label":"","tooltip":"","place":"Select option","group":"d6c84eca.74f5b","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"1","value":"1","type":"str"},{"label":"2","value":"2","type":"str"},{"label":"3","value":"3","type":"str"}],"payload":"","topic":"/lvN","x":440,"y":560,"wires":[["635c0aff.6d7a74"]]},{"id":"440c7e28.129e4","type":"function","z":"2dbed26e.b06b9e","name":"create OBJ","func":"msg.payload = {st: msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":500,"wires":[["294024c.86363dc"]]},{"id":"635c0aff.6d7a74","type":"function","z":"2dbed26e.b06b9e","name":"create OBJ","func":"msg.payload = {lv: msg.payload.toString()};\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":560,"wires":[["294024c.86363dc"]]},{"id":"294024c.86363dc","type":"join","z":"2dbed26e.b06b9e","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":790,"y":520,"wires":[["63876205.3b2d3c"]]},{"id":"63876205.3b2d3c","type":"mqtt out","z":"2dbed26e.b06b9e","name":"control FAN","topic":"Node/fan","qos":"","retain":"","broker":"bd6355eb.c55698","x":960,"y":520,"wires":[]},{"id":"5e46b47f.4d828c","type":"function","z":"2dbed26e.b06b9e","name":"STATUS","func":"msg.payload = msg.payload.st;\n\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":660,"wires":[["ee5c03a7.4d3a5"]]},{"id":"ee5c03a7.4d3a5","type":"ui_switch","z":"2dbed26e.b06b9e","name":"","label":"Switch","tooltip":"","group":"e39c745c.c4e438","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"fa-bullseye","oncolor":"#52FF33","offvalue":"0","offvalueType":"str","officon":"fa-bullseye","offcolor":"#FF3333","x":430,"y":680,"wires":[[]]},{"id":"5683bbcd.dc2484","type":"mqtt in","z":"2dbed26e.b06b9e","name":"","topic":"M5/light1","qos":"2","datatype":"json","broker":"bd6355eb.c55698","x":100,"y":760,"wires":[["83468877.af9238"]]},{"id":"83468877.af9238","type":"function","z":"2dbed26e.b06b9e","name":"STATUS","func":"msg.payload = msg.payload.st;\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":760,"wires":[["c3b0ae2d.283df"]]},{"id":"c3b0ae2d.283df","type":"ui_switch","z":"2dbed26e.b06b9e","name":"","label":"Switch","tooltip":"","group":"5e8c30d8.51957","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"fa-bullseye","oncolor":"#52FF33","offvalue":"0","offvalueType":"str","officon":"fa-bullseye","offcolor":"#FF3333","x":410,"y":760,"wires":[["351eccec.9c7724"]]},{"id":"351eccec.9c7724","type":"function","z":"2dbed26e.b06b9e","name":"create OBJ","func":"msg.payload = {st: msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":760,"wires":[["394be385.c6ce5c"]]},{"id":"8f33daf3.ac52f8","type":"ui_slider","z":"2dbed26e.b06b9e","name":"","label":"RED","tooltip":"","group":"681d89aa.b309e8","order":3,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"255","step":1,"x":410,"y":840,"wires":[["c0c79c78.0f094"]]},{"id":"f967b286.9c8ba","type":"ui_slider","z":"2dbed26e.b06b9e","name":"","label":"GREEN","tooltip":"","group":"681d89aa.b309e8","order":3,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"255","step":1,"x":400,"y":800,"wires":[["4c990e05.429f7"]]},{"id":"b7b90784.22f0b8","type":"ui_slider","z":"2dbed26e.b06b9e","name":"","label":"BLUE","tooltip":"","group":"681d89aa.b309e8","order":3,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"255","step":1,"x":410,"y":880,"wires":[["e63808d4.e78168"]]},{"id":"4c990e05.429f7","type":"function","z":"2dbed26e.b06b9e","name":"create OBJ","func":"msg.payload = {0: msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":800,"wires":[["954fcb67.cb4938"]]},{"id":"c0c79c78.0f094","type":"function","z":"2dbed26e.b06b9e","name":"create OBJ","func":"msg.payload = {1: msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":840,"wires":[["954fcb67.cb4938"]]},{"id":"e63808d4.e78168","type":"function","z":"2dbed26e.b06b9e","name":"create OBJ","func":"msg.payload = {2: msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":880,"wires":[["954fcb67.cb4938"]]},{"id":"954fcb67.cb4938","type":"join","z":"2dbed26e.b06b9e","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"/light","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"1","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":730,"y":840,"wires":[["6e84583c.78bfc8"]]},{"id":"6e84583c.78bfc8","type":"function","z":"2dbed26e.b06b9e","name":"C1 object","func":"g = msg.payload[0];\nr = msg.payload[1];\nb = msg.payload[2];\nmsg.payload = {c1:[g,r,b]};\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":840,"wires":[["394be385.c6ce5c"]]},{"id":"394be385.c6ce5c","type":"join","z":"2dbed26e.b06b9e","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"/light","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"1","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1010,"y":760,"wires":[["330a56ca.5882da"]]},{"id":"330a56ca.5882da","type":"mqtt out","z":"2dbed26e.b06b9e","name":"control light1 Color","topic":"Node/light1","qos":"","retain":"","broker":"bd6355eb.c55698","x":1190,"y":760,"wires":[]},{"id":"7189a7b5.dd9228","type":"mqtt out","z":"40e12db2.90c0f4","name":"","topic":"/test","qos":"","retain":"","broker":"6a927010.30e06","x":1290,"y":260,"wires":[]},{"id":"8abdccc6.95af6","type":"mosca in","z":"40e12db2.90c0f4","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":540,"y":100,"wires":[["91cbe6d6.6e1448"]]},{"id":"91cbe6d6.6e1448","type":"debug","z":"40e12db2.90c0f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":100,"wires":[]},{"id":"5cafdd57.2a4d44","type":"inject","z":"40e12db2.90c0f4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1060,"y":260,"wires":[["7189a7b5.dd9228"]]},{"id":"a33c5ee3.f5b2a","type":"comment","z":"40e12db2.90c0f4","name":"env JSON Schema","info":"{\n    \"temp\": number,\n    \"humi\": number,\n    \"pressure\":number\n}","x":210,"y":300,"wires":[]},{"id":"2053ce1b.3fe242","type":"comment","z":"40e12db2.90c0f4","name":"air JSON Schema","info":"{\n    \"st\": boolean,\n    \"temp\" : number\n}","x":210,"y":360,"wires":[]},{"id":"467a958a.e40efc","type":"comment","z":"40e12db2.90c0f4","name":"fan JSON Schema","info":"{\n    \"st\": boolean,\n    \"level\": number\n}","x":210,"y":420,"wires":[]},{"id":"3a9f00ba.32315","type":"comment","z":"40e12db2.90c0f4","name":"PIR JSON Schema","info":"{\n    \"st\": boolean\n}","x":210,"y":480,"wires":[]},{"id":"467ff475.ee3e7c","type":"comment","z":"40e12db2.90c0f4","name":"light[ 1-3 ] JSON Schema (Pub)","info":"{\n    \"st\": boolean,\n    \"R\": number,\n    \"G\": number,\n    \"B\": number\n}","x":250,"y":540,"wires":[]},{"id":"523c685e.670978","type":"comment","z":"40e12db2.90c0f4","name":"light[ 1-3 ] JSON Schema (Sub)","info":"{\n    \"st\": boolean\n}","x":250,"y":600,"wires":[]},{"id":"7e535886.e9ab68","type":"comment","z":"40e12db2.90c0f4","name":"Subscribe Zone","info":"","x":520,"y":200,"wires":[]},{"id":"e8766b3d.bdcfe8","type":"mqtt in","z":"40e12db2.90c0f4","name":"","topic":"M5/light2","qos":"2","datatype":"json","broker":"6a927010.30e06","x":500,"y":320,"wires":[["202800c5.7669c"]]},{"id":"202800c5.7669c","type":"debug","z":"40e12db2.90c0f4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":320,"wires":[]},{"id":"98e56f61.246b8","type":"mqtt in","z":"40e12db2.90c0f4","name":"","topic":"M5/air","qos":"2","datatype":"json","broker":"6a927010.30e06","x":490,"y":440,"wires":[["861e922d.4aaf1"]]},{"id":"861e922d.4aaf1","type":"debug","z":"40e12db2.90c0f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":440,"wires":[]},{"id":"63386afc.23f964","type":"mqtt in","z":"40e12db2.90c0f4","name":"","topic":"M5/fan","qos":"2","datatype":"json","broker":"6a927010.30e06","x":490,"y":520,"wires":[["e2f92e0f.dc4f7"]]},{"id":"e2f92e0f.dc4f7","type":"debug","z":"40e12db2.90c0f4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":520,"wires":[]},{"id":"abc79654.615d58","type":"mqtt in","z":"40e12db2.90c0f4","name":"","topic":"M5/env","qos":"2","datatype":"json","broker":"6a927010.30e06","x":492,"y":590,"wires":[["8f72238d.0a0ca"]]},{"id":"8f72238d.0a0ca","type":"debug","z":"40e12db2.90c0f4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":772,"y":590,"wires":[]},{"id":"955aa914.a63718","type":"mqtt in","z":"40e12db2.90c0f4","name":"","topic":"M5/pir","qos":"2","datatype":"json","broker":"6a927010.30e06","x":490,"y":660,"wires":[["f2ebee99.c7557"]]},{"id":"f2ebee99.c7557","type":"debug","z":"40e12db2.90c0f4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":660,"wires":[]},{"id":"238a5020.09bb","type":"mqtt in","z":"40e12db2.90c0f4","name":"","topic":"M5/light3","qos":"2","datatype":"json","broker":"6a927010.30e06","x":500,"y":380,"wires":[["48913b5b.f644f4"]]},{"id":"48913b5b.f644f4","type":"debug","z":"40e12db2.90c0f4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":380,"wires":[]},{"id":"193d86e5.3472e9","type":"mqtt in","z":"40e12db2.90c0f4","name":"","topic":"M5/light1","qos":"2","datatype":"json","broker":"6a927010.30e06","x":500,"y":260,"wires":[["f7594d4d.f456f"]]},{"id":"f7594d4d.f456f","type":"debug","z":"40e12db2.90c0f4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":260,"wires":[]},{"id":"66993afe.227d74","type":"comment","z":"40e12db2.90c0f4","name":"Publish Zone","info":"","x":1070,"y":200,"wires":[]},{"id":"62693d5e.dcdc24","type":"mqtt in","z":"b875f491.2f05f8","name":"","topic":"M5/light2","qos":"2","datatype":"json","broker":"6a927010.30e06","x":680,"y":120,"wires":[["9e2b87dd.fd67f8"]]},{"id":"9e2b87dd.fd67f8","type":"debug","z":"b875f491.2f05f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":970,"y":120,"wires":[]},{"id":"d31d7e5e.ec583","type":"mqtt in","z":"b875f491.2f05f8","name":"","topic":"M5/air","qos":"2","datatype":"json","broker":"6a927010.30e06","x":670,"y":300,"wires":[["2250c8df.a9df18"]]},{"id":"2250c8df.a9df18","type":"debug","z":"b875f491.2f05f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":970,"y":300,"wires":[]},{"id":"3f77719d.3607ee","type":"mqtt in","z":"b875f491.2f05f8","name":"","topic":"M5/fan","qos":"2","datatype":"json","broker":"6a927010.30e06","x":130,"y":500,"wires":[["1c498603.c01a2a"]]},{"id":"1c498603.c01a2a","type":"debug","z":"b875f491.2f05f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":430,"y":500,"wires":[]},{"id":"ae73d91a.ec0a58","type":"mqtt in","z":"b875f491.2f05f8","name":"","topic":"M5/env","qos":"2","datatype":"json","broker":"6a927010.30e06","x":670,"y":440,"wires":[["8fd8787c.352428"]]},{"id":"8fd8787c.352428","type":"debug","z":"b875f491.2f05f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":440,"wires":[]},{"id":"27029a0e.2b5496","type":"mqtt in","z":"b875f491.2f05f8","name":"","topic":"M5/pir","qos":"2","datatype":"json","broker":"6a927010.30e06","x":130,"y":700,"wires":[["a7363420.31cdd8"]]},{"id":"a7363420.31cdd8","type":"debug","z":"b875f491.2f05f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":700,"wires":[]},{"id":"3c93497a.12bb66","type":"mqtt in","z":"b875f491.2f05f8","name":"","topic":"M5/light3","qos":"2","datatype":"json","broker":"6a927010.30e06","x":140,"y":300,"wires":[["9e29520b.7a9c1"]]},{"id":"9e29520b.7a9c1","type":"debug","z":"b875f491.2f05f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":300,"wires":[]},{"id":"6d4aa7a0.749078","type":"mqtt in","z":"b875f491.2f05f8","name":"","topic":"M5/light1","qos":"2","datatype":"json","broker":"6a927010.30e06","x":160,"y":140,"wires":[["cb8bd872.051cb8","f692766c.51a8f8"]]},{"id":"cb8bd872.051cb8","type":"debug","z":"b875f491.2f05f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":430,"y":140,"wires":[]},{"id":"a85fd815.162318","type":"mongodb3 in","z":"b875f491.2f05f8","service":"_ext_","configNode":"a3656769.4d3e58","name":"push air","collection":"air","operation":"insertOne","x":960,"y":240,"wires":[[]]},{"id":"29e8b96b.845336","type":"mongodb3 in","z":"b875f491.2f05f8","service":"_ext_","configNode":"a3656769.4d3e58","name":"update light1","collection":"electric appliance","operation":"updateOne","x":470,"y":80,"wires":[["cb8bd872.051cb8"]]},{"id":"7e86058b.bb19bc","type":"mongodb3 in","z":"b875f491.2f05f8","service":"_ext_","configNode":"a3656769.4d3e58","name":"push light2","collection":"light2","operation":"insertOne","x":970,"y":60,"wires":[[]]},{"id":"807228c0.f0c4e8","type":"mongodb3 in","z":"b875f491.2f05f8","service":"_ext_","configNode":"a3656769.4d3e58","name":"update light3","collection":"electric appliance","operation":"updateOne","x":430,"y":240,"wires":[["9e29520b.7a9c1"]]},{"id":"8fbc9537.b242b8","type":"mongodb3 in","z":"b875f491.2f05f8","service":"_ext_","configNode":"a3656769.4d3e58","name":"push fan","collection":"fan","operation":"insertOne","x":420,"y":440,"wires":[[]]},{"id":"9c15950f.f27568","type":"mongodb3 in","z":"b875f491.2f05f8","service":"_ext_","configNode":"a3656769.4d3e58","name":"push env","collection":"env","operation":"insertOne","x":960,"y":380,"wires":[[]]},{"id":"d8033397.7c718","type":"mongodb3 in","z":"b875f491.2f05f8","service":"_ext_","configNode":"a3656769.4d3e58","name":"push pir","collection":"pir","operation":"insertOne","x":400,"y":640,"wires":[[]]},{"id":"ce250d0a.6747f","type":"mqtt in","z":"64bdb6e4.e407f8","name":"","topic":"M5/air","qos":"2","datatype":"json","broker":"6a927010.30e06","x":150,"y":140,"wires":[["4380a667.621948"]]},{"id":"d046669.57b4d98","type":"debug","z":"64bdb6e4.e407f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":930,"y":140,"wires":[]},{"id":"4380a667.621948","type":"function","z":"64bdb6e4.e407f8","name":"Check_Temp","func":"var payload = msg.payload.temp;\nif (payload > 27)\n{\n    msg.payload.fl = 'Hot';\n}\nelse\n{\n    msg.payload.fl = 'Cold';\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":140,"wires":[["da54598a.6c4358"]]},{"id":"a57dac1c.2dd3d","type":"http request","z":"64bdb6e4.e407f8","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://notify-api.line.me/api/notify","tls":"","persist":false,"proxy":"","authType":"","x":730,"y":220,"wires":[[]]},{"id":"da54598a.6c4358","type":"function","z":"64bdb6e4.e407f8","name":"ToString","func":"var token = 'vdRCqX5uLVh45dgwOAcOaxHCaqqe0GPFlh1hmORy488';\nmsg.headers = {'content-type':'application/x-www-form-urlencoded','Authorization':'Bearer '+ token};\nmsg.payload = msg.payload.temp+ ' ' + msg.payload.fl;\nmsg.payload = {\"message\":msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":140,"wires":[[]]},{"id":"458c41bb.5996c","type":"mqtt in","z":"40e12db2.90c0f4","name":"","topic":"/testPub","qos":"2","datatype":"json","broker":"6a927010.30e06","x":480,"y":740,"wires":[["adbecf55.a7508"]]},{"id":"adbecf55.a7508","type":"debug","z":"40e12db2.90c0f4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":740,"wires":[]},{"id":"fd8c6941.abb738","type":"debug","z":"2dbed26e.b06b9e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":480,"y":400,"wires":[]},{"id":"a64d25b5.678e28","type":"debug","z":"2dbed26e.b06b9e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":300,"wires":[]},{"id":"f692766c.51a8f8","type":"function","z":"b875f491.2f05f8","name":"updatel light1","func":"msg.payload =[{\n    name:\"light1\"\n},{\n    $set:{\n        st:msg.payload.st\n    }\n}]\n\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":80,"wires":[["29e8b96b.845336"]]},{"id":"c92cbbfe.5a60c8","type":"inject","z":"b875f491.2f05f8","name":"update light1","topic":"","payload":"{\"st\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":40,"wires":[["f692766c.51a8f8"]]},{"id":"de21369e.8e88f","type":"function","z":"b875f491.2f05f8","name":"updatel light3","func":"msg.payload =[{\n    name:\"light3\"\n},{\n    $set:{\n        st:msg.payload.st\n    }\n}]\n\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":200,"wires":[["807228c0.f0c4e8"]]},{"id":"9bca0eaf.093df","type":"inject","z":"b875f491.2f05f8","name":"update light3","topic":"","payload":"{\"st\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":240,"wires":[["de21369e.8e88f"]]},{"id":"60dfbd85.7aa844","type":"debug","z":"2dbed26e.b06b9e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":240,"y":600,"wires":[]}]